.order-container{
  background-color: #f3f6f4;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: auto;
  padding-left: 210px;
}
.orderTitle{
  padding-top: 20px;
}
.tabs {
  display: flex;
  /* gap: 10px; */
}

.tabs p {
  padding: 8px 20px;
  border: 1px solid #E5EBEB;
  background: #ddd;
  cursor: pointer;
  color: #779B9B;
  border-radius: 5px;
}

.tabs .active {
  background: #F9FFFF;
  color: black;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.search-filter {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 35%;
}
.customInput{
  background-color: #F3F6F4;
  border: 1px solid #E5EBEB;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}
.customInput input{
  background-color: transparent;
  border: none;
  padding: 8px;
  width: 90%;
  outline: none;
}
.filter-icon {
  display: flex;
  gap: 5px;
  border: 1px solid #E5EBEB;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  background-color:#F9FFFF;
  padding: 5px;
  border-radius: 5px;
}
.orders-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #F9ffff;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
}

.orders-table th{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  align-items: center;
}
.orders-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}
.orders-table td img {
  width: 30px;
  border: 1px solid rgb(82, 82, 82);
  align-items: center;
  vertical-align: baseline;
}
.orders-table tbody{
  background-color: #f9ffff;
}
.orders-table th {
  background-color: #f5f5f5;
}

.orders-table td:nth-child(7) {
  display: flex;
}
.orders-table td:nth-child(7) button {
  cursor: pointer;

}
.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.status.pending {
  background-color: #F8EBCE;
  color: #E0A72B;
  border-radius: 10px;
  font-size: 16px;
}

.status.delivered {
  background-color: #E2FDF0;
  color: #04A96F;
  border-radius: 10px;
  font-size: 16px;
  
}

.status.cancelled {
  background-color: #FAE0E0;
  color: #DC2626;
  border-radius: 10px;
  font-size: 16px;
}


.order-details-container {
  width: 100%;
  display: table;
  border-collapse: collapse;
  background-color: #F3F6F4;

}
.expanded-content{
  width: 100%;
}
.order-details-container table {
  width: 100%;
  border-collapse: collapse;
}

.product-item {
  width: 100%;
}

.tabledataImg{
  display: flex;
  gap: 3px;
  align-items: center;
}
.tabledataImg img{
  width: 10%;
}
.products-table{
  width: 100%;
  border-collapse: collapse;
}
.order-details-mini-container {
  display: flex;
  width: 100%;
  gap:5px;
  padding: 15px;
}
.order-details{
  background-color: #F9ffff;
  padding: 15px;
  width: 70%;
  border-radius: 10px;
  margin-top: 10px;
}
.order-details p{
  padding-top: 5px;
}
.product-order{
  background-color: #F9ffff;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}
.products-list {
  padding: 10px;
}

.product-item {
  width: 100%;
}

.action-icon {
  cursor: pointer;
  margin-right: 10px;
}

.action-menu svg {
  cursor: pointer;
}
  

.whole-product-details{
  width:50%;
}
.product-order .selected-product{
  width: 100%;
}
